## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bluff,NZ,-46.6000,168.3333,52.81,65,28,35.21,scattered clouds
1,1,Omsukchan,RU,62.5333,155.8000,16.81,87,100,6.31,overcast clouds
2,2,Punta Arenas,CL,-53.1500,-70.9167,46.51,81,20,19.57,light rain
3,3,Sapa,PH,5.1544,120.3241,83.08,72,89,5.79,overcast clouds
4,4,Soyo,AO,-6.1349,12.3689,77.38,89,87,3.47,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Sapa,PH,5.1544,120.3241,83.08,72,89,5.79,overcast clouds
4,4,Soyo,AO,-6.1349,12.3689,77.38,89,87,3.47,overcast clouds
6,6,Hilo,US,19.7297,-155.0900,84.27,88,100,9.22,light rain
8,8,Butaritari,KI,3.0707,172.7902,81.77,73,34,11.18,light rain
9,9,Arraial Do Cabo,BR,-22.9661,-42.0278,72.88,67,1,20.94,clear sky
11,11,Kembe,CF,4.6228,21.8865,70.00,96,89,2.10,overcast clouds
19,19,Caravelas,BR,-17.7125,-39.2481,75.60,78,100,13.96,moderate rain
21,21,Rikitea,PF,-23.1203,-134.9692,77.58,72,3,14.32,clear sky
37,37,Luwuk,ID,-0.9516,122.7875,84.60,71,100,1.12,overcast clouds
38,38,Auki,SB,-8.7676,160.7034,87.10,61,100,1.81,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                268
City                   268
Country                268
Lat                    268
Lng                    268
Max Temp               268
Humidity               268
Cloudiness             268
Wind Speed             268
Current Description    268
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna(inplace = True)
preferred_cities_df

C:\Users\victor\anaconda3\envs\PythonData\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Sapa,PH,5.1544,120.3241,83.08,72,89,5.79,overcast clouds
4,4,Soyo,AO,-6.1349,12.3689,77.38,89,87,3.47,overcast clouds
6,6,Hilo,US,19.7297,-155.0900,84.27,88,100,9.22,light rain
8,8,Butaritari,KI,3.0707,172.7902,81.77,73,34,11.18,light rain
9,9,Arraial Do Cabo,BR,-22.9661,-42.0278,72.88,67,1,20.94,clear sky
...,...,...,...,...,...,...,...,...,...,...
682,682,Beloha,MG,-25.1667,45.0500,75.61,72,73,3.15,broken clouds
684,684,San Cristobal,VE,7.7669,-72.2250,75.38,85,100,2.75,overcast clouds
685,685,Jaru,BR,-10.4389,-62.4664,73.27,94,97,2.33,overcast clouds
691,691,New Amsterdam,GY,6.2500,-57.5167,75.97,86,100,4.97,overcast clouds
694,694,La Asuncion,VE,11.0333,-63.8628,80.33,83,100,19.57,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Sapa,PH,83.08,overcast clouds,5.1544,120.3241,
4,Soyo,AO,77.38,overcast clouds,-6.1349,12.3689,
6,Hilo,US,84.27,light rain,19.7297,-155.0900,
8,Butaritari,KI,81.77,light rain,3.0707,172.7902,
9,Arraial Do Cabo,BR,72.88,clear sky,-22.9661,-42.0278,
11,Kembe,CF,70.00,overcast clouds,4.6228,21.8865,
19,Caravelas,BR,75.60,moderate rain,-17.7125,-39.2481,
21,Rikitea,PF,77.58,clear sky,-23.1203,-134.9692,
37,Luwuk,ID,84.60,overcast clouds,-0.9516,122.7875,
38,Auki,SB,87.10,overcast clouds,-8.7676,160.7034,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
#hotel_df.dropna(inplace = True)
#hotel_df
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!=""]

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>


"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig = gmaps.figure()


fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
#from ipywidgets.embed import embed_minimal_html
#embed_minimal_html('export.html', views=[fig])